<?php
    $order = $this->getOrder();
    $items = $this->getOrderItems();
    $name = $order->getCustomerFirstname();
    $plurality = count($items) > 1 ? 'these products' : 'this product';
    $logo = $this->getLogoUrl();

    $pageText = $this->getPageText();
    $pageTitle = str_replace('{{ name }}', $name, $pageText->page_title);
    $date = date('l, F j', strtotime($order->getCreatedAt()));
    $pageBody = str_replace('{{ date }}', $date, $pageText->page_body);

    $displayedProducts = array();
?>
<div class="review-container">
    <h2 class="title"><a href="<?php echo $this->getBaseUrl() ?>"><img src="<?php echo $logo ?>" /></a></h2>
    <div class="review-inner">
        <?php if (count($items)){ ?>
        <?php if (!empty($name)){ ?><h2><?php echo $pageTitle ?></h2><?php } ?>

            <form
                onsubmit="return validateReviewForm()"
                action="<?php echo $this->getActionUrl() ?>"
                method="post"
                id="review-form"
                class="review-form"
            >
                <?php foreach ($items as $item){ ?>
                    <?php
                    $product = $this->getProduct($item->getProductId());
                    $product_id = $product->getId();

                    // only show this item once
                    if (in_array($product_id, $displayedProducts)) {
                        continue;
                    }
                    $displayedProducts[] = $product_id;
                    $product_url = $this->getProductUrl($product_id);
                    ?>
                    <fieldset class="review-item">
                        <input type="hidden" class="skip" name="items[<?php echo $product->getId() ?>][skip]" value="0" />
                        <p class="title">
                            <?php echo str_replace('{{ product_name }}', '<strong>'.$this->escapeHtml($product->getName()).'</strong>', $pageText->review_title) ?>
                            <a href="javascript:;" class="opt-out" data-hide="<?php echo $pageText->review_nothanks ?>" data-show="<?php echo $pageText->review_showform ?>">
                                <?php echo $pageText->review_nothanks ?>
                            </a>
                        </p>
                        <div class="pure-g product-review-form">
                            <div class="pure-u-1-3">
                                <img src="<?php echo $this->getProductImage($product) ?>" />
                            </div>
                            <div class="product-review pure-u-2-3">
                                <?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
                                    <div class="ratings">
                                        <?php foreach ($this->getRatings() as $_rating): ?>
                                            <div class="rating">
                                                <span><?php echo $this->escapeHtml($_rating->getRatingCode()) ?>:</span>
                                                <div class="stars">
                                                <?php foreach ($_rating->getOptions() as $_option): ?>
                                                    <a class="star" href="javascript:;" data-id="rating_<?php echo $product->getId() ?>_<?php echo $_rating->getId() ?>" data-val="<?php echo $_option->getId() ?>"></a>
                                                <?php endforeach; ?>
                                                <input class="rating_value" type="hidden" id="rating_<?php echo $product->getId() ?>_<?php echo $_rating->getId() ?>" name="items[<?php echo $product->getId() ?>][ratings][<?php echo $_rating->getId() ?>]" value="" />
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endif; ?>
                                <ul class="form-list">
                                    <li>
                                        <div class="input-box">
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][nickname]" value="<?php echo $order->getCustomerFirstname() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][store_id]" value="<?php echo $product->getStoreId() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][name]" value="<?php echo $product->getName() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][sku]" value="<?php echo $product->getSku() ?>" />
                                            <input type="hidden" name="items[<?php echo $product->getId() ?>][product_url]" value="<?php echo $product_url ?>" />
                                            <label class="hide" for="summary_field_<?php echo $product->getId() ?>"><?php echo $pageText->review_title_label ?></label>
                                            <input type="text" name="items[<?php echo $product->getId() ?>][title]" id="summary_field_<?php echo $product->getId() ?>" class="input-text required-entry summary-field" placeholder="<?php echo $pageText->review_title_placeholer ?>" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-box">
                                            <label class="hide" for="review_field_<?php echo $product->getId() ?>"><?php echo $pageText->review_content_label ?></label>
                                            <textarea name="items[<?php echo $product->getId() ?>][detail]" id="review_field_<?php echo $product->getId() ?>" cols="3" rows="3" class="required-entry review-field" placeholder="<?php echo $pageText->review_content_placeholder ?>"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                <?php } ?>
                <div class="buttons-set">
                    <button type="submit" title="<?php echo $pageText->review_submit ?>" class="button"><span><span><?php echo $pageText->review_submit ?></span></span></button>
                </div>
            </form>
        <?php } else { ?>
            <p class="no-products"><?php echo $pageText->review_no_products ?></p>
        <?php } ?>
    </div>
</div>

<?php echo $this->registerScript('window.checkout = { autocomplete: false };'); ?>
