<?php
    $pageText = $this->getPageText();
?>

<div class="review-container">
    <h2 class="title"><a href="<?php echo $this->getBaseUrl() ?>"><img src="<?php echo $this->getLogoUrl() ?>" /></a></h2>
    <div class="success-inner">
        <h2><?php echo $pageText->success_title ?></h2>
        <p style="font-size: 14px; margin-bottom: 40px;"><?php echo $pageText->success_body ?></p>
        <p>
          <form action="<?php echo $this->getBaseUrl() ?>">
            <button type="submit" title="<?php echo $pageText->success_submit ?>" class="button">
              <?php echo $pageText->success_submit ?>
            </button>
          </form>
        </p>
    </div>
</div>

<?php echo $this->registerScript('window.checkout = { autocomplete: false };'); ?>