.button-container {
  margin-top: 20px;
}

.progress-container {
  margin-top: 20px;
}

.progress-container progress {
  width: 100%;
}

#export_success {
  color: #229922;
  font-weight: bold;;
  display: none;
}

#export_failed {
  color: #cc2222;
  font-weight: bold;
  display: none;
}

#export_status {
  font-weight: bold;
  display: none;
}