<p>
  Export existing abandoned carts and orders to Recapture so you can send Abandoned Cart and Winbacks campaigns right away.
</p>

<p>
  After starting the export process you must leave the browser open.
</p>

<div class="button-container">
  <button id="export_button">Start Export</button>
</div>

<div id="export_success">
  Your abandoned cart and orders have been sent to Recapture!
</div>

<div id="export_failed">
  There was a problem while exporting your data to Recapture. Please try again, if the problem continues please contact Recapture support.
</div>

<div id="export_status">
</div>

<?php
    $scriptContent = <<<JS
    require(['jquery', 'jquery/ui'], function($) {
      init(
        $,
        '{$this->getUrl("recapture_adminhtml/export/run")}?isAjax=true',
        '{$block->escapeJs(json_encode($block->getData("scope")))}'
      )
    });
    JS;
    echo $block->getData('secureRenderer')->renderTag('script', [], $scriptContent, false)
?>
